.portfolio {
  margin: 0 auto;
  padding: 100px 0px 250px;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: #fff;
}

/* .portfolio__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 250px;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 111.111%;
} */

.portfolio__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* gap: 5px; */
  flex-wrap: wrap;
}

.portfolio__li {
  margin: 0;
  padding: 5px;
  width: min-content;
  box-sizing: border-box;
  position: relative;
  transition: visibility 0.5s, opacity 0.3s linear;
  
}

.portfolio__link {
  margin: 0;
  padding: 0;
width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  display: block;
}

.portfolio__li:hover {
  cursor: pointer;
  outline: 5px solid #000;
  background-color: #000;
  .portfolio__text {
    visibility: visible;
  }
}

.portfolio__img {
  max-width: 300px;
  display: block;
}


.portfolio__text {
  margin: 0;
  padding: 0;
  visibility: hidden;
  color: #fff;
  background-color: #000;
}

.portfolio__btn_prev {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 50px;
  background-color: #fff;
  text-decoration: none;
  border: none;
  color: #a0a0a0;
  text-align: center;
  font-size: 24px;
  /* font-weight: 400; */
  cursor: pointer;
}

.portfolio__btn_prev::before {
  content: '<';
  margin-right: 5px;
}

.portfolio__btn_prev:hover {
  opacity: 0.8;
  transform: scale(1.06);
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 90px 50px 262px;
  }
  .portfolio__link {
    font-size: 28px;
    line-height: 178.571%;
    letter-spacing: -1.12px;
  }
  
}

@media screen and (max-width: 550px) {
  .portfolio {
    padding: 70px 14px 323px;
  }

  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 142.857%;
  }

}
