.portfolio {
  margin: 0 auto;
  padding: 100px 70px 278px;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: #fff;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 250px;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 111.111%;
}

.portfolio__ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__link {
  margin: 0 0 19px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: -1.2px;
}

.portfolio__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.portfolio__li {
  margin: 0;
  margin-top: 20px;
  border-bottom: 1px solid #e8e8e8;
  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 6px top 18px;
}

.portfolio__li:last-child {
  border-bottom: none;
}

.portfolio__text {
  margin: 0;
  max-width: 880px;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 90px 50px 262px;
  }
  .portfolio__link {
    font-size: 28px;
    line-height: 178.571%;
    letter-spacing: -1.12px;
  }
  .portfolio__text {
    font-size: 28px;
    font-style: normal;
    line-height: 178.571%;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 550px) {
  .portfolio {
    padding: 70px 14px 323px;
  }

  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 142.857%;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 155.556%;
    letter-spacing: -0.72px;
  }

  .portfolio__li {
    background-image: url("../../images/arrow320.svg");
    background-position: right 4px top 6px;
  }

}
