.header {
  margin: 0 auto;
  padding: 18px 70px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(5, 230, 247, 0.6);
  position: fixed;
  display: flex;
  z-index: 3;
}

.header__logo {
  margin: 0;
  /* font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;*/
  position: absolute;
  top: 5px;
  left: 20px;
}

.logo__img {
  max-width: 8%;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.header__link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__text {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.header__text:hover {
  opacity: 0.7;
}

.header__link:hover,
.active
 {
  /* opacity: 0.8; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: -2px;
}

.header__signin {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  background-color: rgba(43, 224, 128, 1);
  border: 0;
  border-radius: 3px;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__signin:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* @media screen and (max-width: 800px) {
  .header {
    padding: 18px 30px;
  }
  .header__signin {
    margin-left: 14px;
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
  .header__link {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 18px 14px;
  }
  .header__signin {
    margin-left: 14px;
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
  .header__link {
    font-size: 10px;
  }
} */