.header {
  margin: 0 auto;
  padding: 10px 40px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(5, 230, 247, 0.6);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 3;
}

.header__logo {
  margin: 0;
  width: 40px;
  height: 45px;
}

.header.hide {
  transform: translateY(-80px);
}

/* .logo__img {
  width: 75%;
} */

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.header__link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__text {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.header__text:hover {
  opacity: 0.7;
  text-align: right;
}

.header__link:hover,
.active
 {
  /* opacity: 0.8; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: -2px;
}

.header__signin {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  background-color: rgba(43, 224, 128, 1);
  border: 0;
  border-radius: 3px;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__signin:hover {
  opacity: 0.8;
  cursor: pointer;
}

.navigation__burger {
  margin: 0;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-image: url("../../images/hamburger.svg");
  background-color: rgba(255, 255, 255, 0);
  object-fit: cover;
  display: none;
  order: 2;
}

.navigation__burger:hover {
  opacity: 0.7;
}


 @media screen and (max-width: 800px) {
  .header {
    justify-content: space-between;
    padding: 5px 10px;
  }
  .header__menu {
    display: none;
  }

  .header__text {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
  }
  .navigation__burger {
    display: block;
  }
  
}
/*
@media screen and (max-width: 400px) {
  .header {
    padding: 18px 14px;
  }
  .header__signin {
    margin-left: 14px;
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
  .header__link {
    font-size: 10px;
  }
} */